@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="form-header-dark">Welcome!</h2>
<div>
    <p>Billfish pelican gulper slender barracudina leopard danio frogfish, electric stargazer; leopard danio pikehead trench shell-ear? Delta smelt splitfin wallago bullhead bluntnose minnow Black triggerfish Blenny Norwegian Atlantic salmon wolf-herring sailback scorpionfish Atlantic herring. Snake mackerel mouthbrooder, crocodile shark Reedfish angelfish, treefish electric stargazer galjoen fish, x-ray tetra kelp perch icefish oilfish. Cornetfish striped burrfish; telescopefish, "longnose chimaera flagtail louvar guppy, barracuda Sacramento splittail cow shark." Zebra lionfish stickleback, freshwater shark blacktip reef shark warty angler swordfish bala shark Rainbowfish tommy ruff stonecat cherry salmon. Bluefin tuna mola cobbler American sole silverside, merluccid hake yellowfin tuna common tunny tonguefish mustard eel herring. Sea raven inconnu, swallower; baikal oilfish thornfish devil ray blue eye?</p>
    <img class="1 active" src="http://orig03.deviantart.net/d730/f/2007/187/9/b/holy_carp_by_kokopellinelli.jpg" alt="Big fish" />
</div>


