@{
    ViewData["Title"] = "Marketplace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Marketplace</h2>
<hr />

<div class="container">
    <div class="f-row responsive">
        <div class="f-col-1 flex-center">
            <p>Pearl danio lake trout? Black triggerfish. Koi sea snail coho salmon, "grunion, plaice denticle herring American sole; moonfish bichir clownfish: pleco," paradise fish grass carp. Porcupinefish grass carp sucker; pikeblenny northern pike sea snail brown trout warbonnet merluccid hake New Zealand smelt. Snakehead northern lampfish kaluga aruana, Rattail airbreathing catfish long-finned pike sea dragon kuhli loach cutthroat trout vimba snakehead? </p>
        </div>
        <div class="f-col-1">
            <img style="max-width: 400px" src="http://www.funny-animalpictures.com/media/content/items/images/funnyfish0040_O.jpg" />
        </div>
    </div>
    <div class="f-row responsive">
        <div class="f-col-1">
            <img style="max-width: 400px" src="http://ocean.nationalgeographic.com/exposure/core_media/ngphoto/image/83949_0_480x360.jpg" />
        </div>
        <div class="f-col-1">
            <p>Pearl danio lake trout? Black triggerfish. Koi sea snail coho salmon, "grunion, plaice denticle herring American sole; moonfish bichir clownfish: pleco," paradise fish grass carp. Porcupinefish grass carp sucker; pikeblenny northern pike sea snail brown trout warbonnet merluccid hake New Zealand smelt. Snakehead northern lampfish kaluga aruana, Rattail airbreathing catfish long-finned pike sea dragon kuhli loach cutthroat trout vimba snakehead? </p>
        </div>
    </div>
    <div class="f-row responsive">
        <div class="f-col-1">
            <p>Pearl danio lake trout? Black triggerfish. Koi sea snail coho salmon, "grunion, plaice denticle herring American sole; moonfish bichir clownfish: pleco," paradise fish grass carp. Porcupinefish grass carp sucker; pikeblenny northern pike sea snail brown trout warbonnet merluccid hake New Zealand smelt. Snakehead northern lampfish kaluga aruana, Rattail airbreathing catfish long-finned pike sea dragon kuhli loach cutthroat trout vimba snakehead? </p>
        </div>
        <div class="f-col-1">
            <img style="max-width: 400px" src="https://ichef.bbci.co.uk/news/660/cpsprodpb/115CA/production/_90741117_0bebad60-b644-409a-83cb-5cd96a539a4c.jpg" />
        </div>
    </div>
    <div class="f-row responsive">
        <div class="f-col-1">
            <img style="max-width: 400px" src="http://kids.nationalgeographic.com/content/dam/kids/photos/animals/Fish/H-P/pufferfish-inflated-closeup.adapt.945.1.jpg" />
        </div>
        <div class="f-col-1">
            <p>Pearl danio lake trout? Black triggerfish. Koi sea snail coho salmon, "grunion, plaice denticle herring American sole; moonfish bichir clownfish: pleco," paradise fish grass carp. Porcupinefish grass carp sucker; pikeblenny northern pike sea snail brown trout warbonnet merluccid hake New Zealand smelt. Snakehead northern lampfish kaluga aruana, Rattail airbreathing catfish long-finned pike sea dragon kuhli loach cutthroat trout vimba snakehead? </p>
        </div>
    </div>
</div>
